{% extends "layout.html" %}
{% load staticfiles %}

{% block head_injections %}
        {{ block.super }} 
{% endblock %}

{% block base_feed %}

	<section style="margin: 40px 0px ">
		<div class="container">
			<div class="row">

		        <div class="col-sm-12">

		            <div class="panel panel-default">
		            	
		                <div class="panel-body">
		                	<h3 style="text-align: center;font-weight: 600;">
		            			<!-- Already This data is Exists! -->
		            			{{message}} 
		        			</h3>
		                </div>
		            </div>
		        </div>
		    </div>
		</div>
	</section>
{% endblock %}